@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using ECommerceProduct.Extensions
@using ECommerceProduct.Utility

@inject IHttpContextAccessor  HttpContextAccessor
@inject SignInManager<ApplicationUser> appUser

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] => ECommerceProduct</title>
    <link href="~/css/all.css" rel="stylesheet" />
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/jquery.timepicker.css" />
        <link rel="stylesheet" href="~/css/datepicker.css" />

        <link href="~/css/fontawesome.css" rel="stylesheet" />
        @*<link href="~/css/all.css" rel="stylesheet" />*@
        @*<link href="~/css/svg-with-js.css" rel="stylesheet" />*@
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />

        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/datepicker.css" />
        <link rel="stylesheet" href="~/css/jquery.timepicker.css" />


    </environment>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" fixed-top>
            <a class="navbar-brand" href="#">ECommerce Product</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="ProductType" asp-action="Index"> Product Type </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="SpecialTags" asp-action="Index"> Special Tags </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Products" asp-action="Index"> Products </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="AdminUsers" asp-action="Index"> Admin Users </a>
                    </li>
                    @if (HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart") != null)
                    {
                        <li style="color:white">
                            <a asp-area="Customers" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                                <i class="fas fa-shopping-cart"></i> &nbsp;
                                @{
                                    var count = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart").Count;

                                }
                                (@count)
                            </a>
                        </li>
                    }
                    else
                    {
                        <li style="color:white">
                            <a class="nav-link" asp-area="Customers" asp-controller="ShoppingCart" asp-action="Index">
                                <i class="fas fa-shopping-cart"></i> &nbsp;

                                (0)
                            </a>
                        </li>
                    }
                </ul>
                    <ul class="navbar-nav ml-auto">
                    @if (appUser.IsSignedIn(User))
                    {
                    <li class="nav-item">
                        <form method="post" asp-action="logout" asp-controller="account">
                            <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                Logout @User.Identity.Name
                            </button>
                        </form>
                    </li>
                    }
                    else
                    {
                    <li class="nav-item">
                        <a class="btn btn-outline-success my-2 my-lg-0 mr-sm-2" type="button" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        <a class=" nav-link btn btn-outline-success my-2 my-lg-0 mr-sm-2" id="login" type="button" asp-area="Identity" asp-page="/Account/Login">Login</a><br />
                    </li>
                        }
                    </ul>

                <form class="form-inline my-2 my-sm-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ECommerceProduct - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/fontawesome.js"></script>
        <script src="~/js/datepicker.js"></script>

        <script src="~/js/jquery.timepicker.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/datepicker.js"></script>
        <script src="~/js/jquery.timepicker.js"></script>

        <script src="~/js/fontawesome.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
